.calcContainer{
    background-color: #3B3B3B;
    height: 60vh;
}
.selectPill {
    background-color: #2B2B2B;
    color: white;
    border: none;
}
.selectPill:focus {
    border: none;
    outline: none;
    box-shadow:2px;
}
